.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #fff;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid rgb(201, 198, 198);
}

.header__left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__logo {
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title {
  font-weight: 600;
  font-size: 20px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__switch-btn {
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background: #fff;
  cursor: pointer;
  font-weight: 500;
}

.header__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .header {
font-size: small;
padding: 5px;
}
.header__title {
  font-size: 18px;
}
.header__switch-btn {
  border: 1px solid #b9bbbf;}
}