.shorts-grid {
  margin-top: 20px;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.short-card {
  width: 220px;
  background: var(--bg-glass);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}
.short-thumb-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 9/16;
  overflow: hidden;
}
.short-thumb {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.short-info-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 10px 8px 10px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.85) 70%,
    rgba(0, 0, 0, 0.1) 100%
  );
  color: #fff;
}
.short-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2px;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.short-views {
  font-size: 0.95rem;
  color: #ccc;
}
.profile-short-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px 10px 12px;
  font-size: 1.5rem;
  color: #bbb;
  background: #181818;
  border-top: 1px solid #232323;
}

.profile-short-actions div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-short-actions div:hover {
  color: #fff;
}

.profile-short-actions div p {
  font-size: 10px !important;
}
