.playlist-card {
  background: transparent;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  gap: 20px;
}

.playlist-thumb-wrapper {
  height: 100px;
  position: relative;
  aspect-ratio: 16/9;
  background: var(--bg-glass);
  border: 1px solid var(--border-color);
  overflow: hidden;
  border-radius: 12px;
}

.playlist-thumb {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.playlists-no {
  position: absolute;
  right: 8px;
  bottom: 8px;
  background: var(--background-glass);
  color: var(--text-primary);
  font-size: 0.95rem;
  font-weight: 600;
  padding: 2px 7px;
  border-radius: 4px;
  display: flex;
  gap: 4px;
  align-items: center;
  z-index: 2;
}

.playlist-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  min-height: 2.6em;
}