.player__bottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.player__leftControls,
.player__rightControls {
  display: flex;
  align-items: center;
  gap: 8px;
}